/*prvi dio*/
.boxone {
  background-color: #efe5e7;
  display: flex;
  padding-top: 180px;
  padding-bottom: 100px;
  justify-content: center;
}
.introdiv {
  background-color: #7180ac;
  color: #efe5e7;
  text-align: center;
  border-radius: 4px;
  padding: 20px 25px;
  width: 400px;
  margin-left: 10%;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-right: -25px;
  z-index: 2;
  height: 350px;
  box-shadow: 0 5px 10px #7180ac;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.headings {
  text-align: justify;
  margin-left: 6px;
  margin-bottom: 13px;
}

.paragraphs {
  font-size: 16px;
  line-height: 2rem;
  margin: auto 10px;
  letter-spacing: 1px;
  text-align: justify;
}
.carouseldiv {
  overflow: hidden;
  margin-left: 0px;
  margin-right: 10%;
  z-index: 1;
  width: 720px;
}

.headingsCarousel {
  color: #2e3687;
  text-align: center;
  font-weight: 200;
}
.date {
  color: #7f84bb;
}
.img {
  display: block;
  justify-content: center;
  width: 100%;
  height: 470px;
}

.events {
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  padding: 10px;
}

/*drugi dio*/
.boxtwo {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(239, 229, 231, 0.4);
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
.icon,
.icon2 {
  display: block;
  position: relative;
  left: 2%;
  width: 370px;
  height: 250px;
}

.icon2 {
  left: 9%;
  margin-bottom: 0px;
}

.icon:hover,
.icon2:hover {
  transform: scale(1.1);
}

.buttonContainertwo {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 92%;
}

.imgdiv {
  display: flex;
  flex: 0 0 33.333333%;

  justify-content: space-evenly;
}

/*treci dio*/
.boxthree {
  display: flex;
  background-color: #e4e8f4;
  justify-content: space-evenly;
  padding-top: 70px;
  padding-bottom: 70px;
}

.aboutus {
  text-align: justify;
  padding: 30px;
  margin: 30px;
  line-height: 2rem;
  letter-spacing: 1px;
  color: #2e3687;
  width: 500px;
}
.usimg {
  display: block;
  height: 370px;
  width: 570px;
  margin: 30px;
  margin-left: 30px;
  margin-top: 50px;
}
.onama {
  text-align: left;
  color: #cc9ea5;
  margin-bottom: 20px;
}

/*responzivnost*/

@media screen and (max-width: 768px) {
  .boxone {
    padding-bottom: 0px;
  }

  .carouseldiv {
    /*
        width: 60%;
        overflow: hidden;
        height: 30%;
        right: 0;*/
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .events {
    /* display: block;
        text-align: center;
        height: 100px;
        font-size: 12px;*/
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .img {
    /*
        height: 200px;
        width: 100%;
        overflow: hidden;
        justify-content: center;
        */
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .introdiv {
    /*
        display: block;
        width: 40%;
        left: 0;
        height: 30%;
        font-size: 12px;
        top: 115px;
        border-radius: 0;
        text-align: justify;
        padding: 3px 7px 0px 3px;*/
    width: 100%;
    display: block;
    margin: 0px;
    left: 0;
    height: 20%;
    padding: 5px 7px 0px 7px;
    border-radius: 0%;
  }
}
@media screen and (max-width: 768px) {
  .headings {
    /*
        font-size: 14px;
        margin: 1px;
        padding-bottom: 3px;
        text-align: center;*/
    margin: 0px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .paragraphs {
    /*font-size: 11px; */
    font-size: 12px;
    text-align: center;
    line-height: 1rem;
  }
}

/*komentari su postavke za prikazivanje i slika i teksta*/

@media screen and (max-width: 768px) {
  .boxone {
    padding-top: 70px;
  }
  .boxtwo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .boxone,
  .boxtwo,
  .boxthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .imgdiv {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .buttonContainertwo {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 768px) {
  .icon {
    width: 280px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .icon2 {
    width: 280px;
    height: auto;
    left: 5%;
    bottom: -5px;
  }
}
@media screen and (max-width: 768px) {
  .usimg {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .aboutus {
    width: 100%;
    height: auto;
    margin: 10px;
    line-height: 1.1rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .onama {
    margin: 5px;
    margin-top: 0px;
  }
}
