/*prvi dio*/
.boxone {
  background-color: #efe5e7;
  display: flex;
  justify-content: space-evenly;
}
.introdiv {
  background-color: #7180ac;
  color: #efe5e7;
  text-align: center;
  border-radius: 7px;
  padding: 20px;
  width: 30%;
  margin-top: 50px;
  margin-left: 10%;
  margin-bottom: 50px;
  margin-right: 30px;
  height: 50%;
  
}
.carouseldiv {
  width: 60%;
  overflow: hidden;
  margin: auto;
  margin-right: 10%;
  background-color: #7180ac;
  
  height: 400px;
  width: 700px;
}

.img {
  display: block;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.events {
  display: block;
  color: black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 5px;
}

/*drugi dio*/
.boxtwo {
  display: flex;
  background-color: rgba(239, 229, 231, 0.3);
}
.icon,
.icon2 {
  display: block;
  position: relative;
  left: 1%;
  width: 370px;
  height: 250px;
}

.imgdiv {
  justify-content: space-evenly;
  margin: 70px;
}

/*treci dio*/
.boxthree {
  display: flex;
  background-color: #e4e8f4;
  justify-content: space-evenly;
}

.aboutus {
  text-align: justify;
  padding: 30px;
  margin: 30px;
  line-height: 2rem;
  color: #2e3687;
  width: 500px;
}
.usimg {
  display: block;
  height: 300px;
  width: 500px;
  margin: 30px;
  margin-top: 70px;
}
.onama {
  text-align: left;
  color: #cc9ea5;
  margin-bottom: 20px;
}


/*responzivnost*/

@media screen and (max-width: 768px) {
  .carouseldiv {
    /*
        width: 60%;
        overflow: hidden;
        height: 30%;
        right: 0;*/
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .events {
    /* display: block;
        text-align: center;
        height: 100px;
        font-size: 12px;*/
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .img {
    /*
        height: 200px;
        width: 100%;
        overflow: hidden;
        justify-content: center;
        */
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .introdiv {
    /*
        display: block;
        width: 40%;
        left: 0;
        height: 30%;
        font-size: 12px;
        top: 115px;
        border-radius: 0;
        text-align: justify;
        padding: 3px 7px 0px 3px;*/
    width: 100%;
    display: block;
    margin: 0px;
    left: 0;
    height: 20%;
    padding: 5px 7px 0px 7px;
    border-radius: 0%;
  }
}
@media screen and (max-width: 768px) {
  .headings {
    /*
        font-size: 14px;
        margin: 1px;
        padding-bottom: 3px;
        text-align: center;*/
    margin: 0px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .paragraphs {
    /*font-size: 11px; */
    font-size: 12px;
    text-align: center;
  }
}

/*komentari su postavke za prikazivanje i slika i teksta*/

@media screen and (max-width: 768px) {
  .boxone,
  .boxtwo,
  .boxthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .imgdiv {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .icon {
    width: 280px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .icon2 {
    width: 280px;
    height: auto;
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .usimg {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    
  }
}
@media screen and (max-width: 768px) {
  .aboutus {
    width: 100%;
    height: auto;
    margin: 10px;
    line-height: 1.1rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .onama {
    margin: 5px;
    margin-top: 0px;
  }
}
