.primary {
  display: inline-block;
  margin: 10px;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: #cc9ea5;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center; /*triba nac neki font ta ovaj sam jedini cula*/
  letter-spacing: 2px;
}

.primary:hover {
  background-color: #7180ac;
}

.secondary {
  display: inline-block;
  margin: 10px;
  border: solid 1px white;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center; /*triba nac neki font ta ovaj sam jedini cula*/
  letter-spacing: 2px;
}

.secondary:hover {
  background-color: #cc9ea5;
  border: none;
}

.tertiary {
  display: inline-block;
  position: relative;
  left: 1%;
  margin: 10px;
  border: solid 1px #2e3687;
  padding: 3px 10px;
  border-radius: 30px;
  background-color: transparent;
  color: #2e3687;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center; /*triba nac neki font ta ovaj sam jedini cula*/
  letter-spacing: 1px;
}

.tertiary:hover {
  background-color: #2e3687;
  color: white;
  border: none;
}


.quaternary {
  display: flex;
  margin: auto;
  border: none;
  padding: 7px;
  padding-left: 17%;
  width: 70%;
  border-radius: 30px;
  background-color: #cc9ea5;
  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center; 
  letter-spacing: 2px;
}

.volontiraj{
  display: inline-block;
  
  margin-top: 30px;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: #cc9ea5;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center; 
  letter-spacing: 2px;
  width: 20%;
}

.poruka{
  display: inline-block;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: #cc9ea5;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center; 
  letter-spacing: 2px;
  width: 30%;
}

.submit {
  display: inline-block;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: #cc9ea5;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center; 
  letter-spacing: 2px;

  
}

.volontiraj:hover,
.poruka:hover,
.submit:hover {
  background-color: #2e3687;
}

@media screen and (max-width: 768px) {
  .primary,
  .secondary,
  .tertiary {
    /*
        margin: 0px;
        margin-right: 3px;
        padding: 4px; 
    */
    margin: 0px 10px;
    padding: 4px;
    font-size: 10px;
    margin-bottom: 10px;
    
  }
}

@media screen and (max-width: 768px) {
  .tertiary {
    width: 280px;
    height: 40px;
    margin-left: 20px;
    padding: 4px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .quaternary {
    font-size: 16px;
    padding: 4px 10px;
    width: auto;
    margin-bottom: 50px;
   
   
  }
}


@media screen and (max-width: 768px) {
  .primaryM {
    
  margin: 10px;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  background-color: #cc9ea5;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 2px;
  margin: 10px;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  }
}

@media screen and (max-width: 768px) {
  .volontiraj
   {
   font-size: 16px;
   width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .poruka
   {
   font-size: 16px;
   width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .submit
   {
   font-size: 16px;
  }
}