html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none !important;
  color: inherit;
}

button:focus {
  outline: 0 !important;
}

input:focus {
  outline: 0 !important;
}
