.logo {
  display: flex;
  float: left;
  flex-flow: column;
  width: fit-content;
  margin: 18px 75px;
  opacity: 0.8;
}

.logoImg {
  width: 60px;
}
@media screen and (max-width: 1175px) {
  .logoImg {
    width: 45px;
  }
  .logo {
    margin: 15px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .logoImg {
    width: 30px;
  }
  .logo {
    display: flex;
    float: none;
    flex-flow: column;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
  }
}
