.footer {
  background-color: transparent;
  border-top: 1px solid #7180ac;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.footer span {
  margin: 10px;
  font-size: 14px;
  color: #000000;
  font-family: "Helvetica";
  letter-spacing: 1px;
}

.footer span img {
  margin-right: 5px;
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .footer  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-start;
    
 
    
  }
}
@media screen and (max-width: 768px) {
  .footer span {

    font-size: 12px;
    
  }
}
@media screen and (max-width: 768px) {
  .footer span img {
    width: 20px;
    height: 20px;
    margin: 2px;
    margin-right: 5px;
  }
}