.navigationBar {
  height: 90px;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
}

.navigationBar li {
  padding: 30px 40px; /* prosirila sam razmak medu naslovnicom događajima i to povecanjem ovog drugog broja, ali mislim da to nije ispravno*/
  list-style: none;
  width: fit-content;
  font-size: 15px;
  font-family: sans-serif; /*triba nac neki font ta ovaj sam jedini cula*/
  letter-spacing: 2px; /* ovo isto vjv nije dobro ovako rucno postavljat*/
  line-height: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #7180ac;
}
.navigationBar li:hover {
  border-bottom: 2px solid #c4c7cf;
  cursor: pointer;
}

.navigationBar .active,
.navigationBar .active:hover {
  border-bottom: 2px solid #7180ac;
  color: #2e3585;
}

.razmak {
  padding: 13.5px 40px;
} /* bez ovoga prijavi se bude u gornjem desnom kutu*/

.modalpg {
  color: #2e3687;
}

@media screen and (max-width: 1175px) {
  .navigationBar li {
    padding: 30px 7px;
  }
  .razmak {
    padding: 13.5px 15px;
  }
}

@media screen and (max-width: 768px) {
  .navigationBar {
    height: 20px;
  }

  .navigationBar li {
    display: none;
  }
  .razmak {
    display: none;
  }
}
