.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #efe5e7;
  color: #2e3687;
  padding-top: 170px;
  padding-bottom: 40px;
  min-height: 1000px;
}

.naslov {
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 0.3rem;
}

.list {
  padding-top: 50px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: fit-content;
  letter-spacing: 0.1px;
  font-size: 16;
  margin: auto;
  justify-content: center;
}

.list li {
  list-style: none;
  margin: 5px 12px;
  width: 390px;
  background-color: #ffffff;
  text-align: justify;
  border-style: inherit;
  padding: 20px;
}

.list li:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.list li span {
  color: #7180ac;
  word-wrap: break-word;
}

.list li h3 {
  font-size: 18px;
  color: #2e3687;
  word-wrap: break-word;
  text-align: left;
  margin-top: 10px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .list {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .list li {
    margin-left: -15px;
  }
}

@media screen and (max-width: 360px) {
  .list li div {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .list li {
    width: 90%;
    margin: 5px;
    margin-left: -5px;
  }
}
