.container {
  background-color: #efe5e7;
  display: block;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 50px;
}
.kartica {
  background-color: #ffffff;
  display: block;
  width: 60%;
  margin: auto;
  height: auto;
 
}
.imagediv {
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}
.container header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #2e3687;
  padding: 20px;
}

.strelice {
  display: block;
  width: 70%;
  margin: auto;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.strelicaP {
  display: flex;
  float: left;
  color: #7180ac;
}
.strelicaP:hover {
  color: #2e3687;
}

.strelicaS {
  display: flex;
  float: right;
  color: #7180ac;
}
.strelicaS:hover {
  color: #2e3687;
}

.container article {
  line-height: 30px;
  font-size: 20px;
  width: 100%;
  text-align: justify;
  padding: 60px 50px;
  margin: auto;
  color: #7180ac;
  max-width: 75ch;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
    padding-top: 100px;
  }
  .container article {
    padding: 25px;
    font-size: 18px;
    line-height: 34px;
   
  }
  .kartica{
    width: 70%;
  }
  .kartica h2{
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .imagediv {
    display: block;
    overflow: hidden;
  }
  .images {
    width: 350px !important;
    height: 250px !important;
  }
}

@media screen and (max-width: 360px) {
  .kartica{
    width: 90%;
  }
  .images {
    width: 250px !important;
    height: 150px !important;
    overflow: hidden !important;
  }
  .container article {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
   
  }
}
