.buttonContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
  position: relative;
}

.textfield {
  display: flex;
  justify-content: flex-start;
  margin: 20px 60px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 30px;
}

.container {
  flex: 0 50%;
  justify-content: center;
}

.container2 {
  margin: 50px 10px 0px 30px;
  width: 600px;
  height: 135px;
  box-sizing: border-box;
  background-color: transparent;
}

.cardMedia {
  border-radius: 2px;
  /*border: 1px solid #7180ac;*/
  box-shadow: 0 5px 10px #7180ac;
  background-color: white;
  height: 100%;
  margin-bottom: 25px;
  width: 100%;
}

.cardMedia:hover {
  box-shadow: 0 7px 14px #7180ac;
  transform: scale(1.1);
}

.cardMediaBody {
  background-color: transparent;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 60%;
}

.cardMediaBodyHeading {
  display: block;
  letter-spacing: 1px;
  color: #2e3687;
  font-size: 16;
  font-weight: 500;
  margin-top: 10px;
}

.cardMediaBodyTop {
  display: block;
}

.subtle {
  color: #7180ac;
  font-size: 14px;
}

.cardMediaBodyBottom {
  position: absolute;
  bottom: 8px;
  left: 0;
  padding: 0 15px;
  width: 100%;
}

.cardMediaObjectContainer {
  background: none;
  float: left;
  height: 100%;
  width: 40%;
  position: relative;
  margin: 0;
  padding: 0;
}

.background {
  background-color: #efe5e7;
  margin-top: 0px;
  min-height: 1000px;
  padding: 120px 0px 60px 40px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.cardMediaBody:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .background {
    padding: 70px 5px 20px 5px;
  }

  .container2 {
    display: flex;

    align-items: center;
    position: relative;
    margin: 20px 30px 30px 10px;
    width: 100%;
    height: 100px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .filter {
    margin-top: 10px;
    margin-left: 10px;
  }

  .buttonContainer {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 30px 30px 30px;
    row-gap: 0px;
    margin-left: 0px;
  }

  .subtle {
    font-size: 8px;
  }

  .cardMediaBodyHeading {
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    margin-top: auto;
  }

  .overlay {
    padding: 18px;
    line-height: 0.8;
    text-align: justify;
  }

  .cardMedia:hover {
    transform: scale(1.007);
  }

  .textfield {
    margin: 10px 0px 20px 5px;
    width: 100px;
  }
}
